body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u10097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10099 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:193px;
  width:510px;
  height:307px;
}
#u10099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10100 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:260px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10101 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:308px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10102 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:430px;
  width:140px;
  height:30px;
}
#u10102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u10103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10103 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:430px;
  width:140px;
  height:30px;
}
#u10103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u10104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10104 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:208px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u10104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u10105 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:264px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u10105_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10105_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10106 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:264px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u10106_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10106_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10108 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:308px;
  width:330px;
  height:24px;
}
#u10108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10108_input:disabled {
  color:grayText;
}
#u10108_ann {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:304px;
  width:1px;
  height:1px;
}
#u10109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10109 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:357px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10110 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:357px;
  width:57px;
  height:24px;
}
#u10110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10110_input:disabled {
  color:grayText;
}
#u10111 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:357px;
  width:57px;
  height:24px;
}
#u10111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10111_input:disabled {
  color:grayText;
}
#u10112 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:357px;
  width:57px;
  height:24px;
}
#u10112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10112_input:disabled {
  color:grayText;
}
#u10113 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:357px;
  width:57px;
  height:24px;
}
#u10113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10113_input:disabled {
  color:grayText;
}
#u10114 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:357px;
  width:62px;
  height:24px;
}
#u10114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10114_input:disabled {
  color:grayText;
}
#u10115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10116 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:308px;
  width:330px;
  height:24px;
}
#u10116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10116_input:disabled {
  color:grayText;
}
#u10116_ann {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:304px;
  width:1px;
  height:1px;
}
#u10117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10117 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:357px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10118 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:357px;
  width:329px;
  height:24px;
}
#u10118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
