body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u10544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10546 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:193px;
  width:510px;
  height:307px;
}
#u10546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10547 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:260px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10548 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:308px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10549 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:430px;
  width:140px;
  height:30px;
}
#u10549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u10550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10550 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:430px;
  width:140px;
  height:30px;
}
#u10550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u10551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10551 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:208px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u10551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u10552 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:264px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u10552_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10552_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:264px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u10553_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10553_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:308px;
  width:330px;
  height:24px;
}
#u10555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10555_input:disabled {
  color:grayText;
}
#u10555_ann {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:304px;
  width:1px;
  height:1px;
}
#u10556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:357px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:357px;
  width:57px;
  height:24px;
}
#u10557_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10557_input:disabled {
  color:grayText;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:357px;
  width:57px;
  height:24px;
}
#u10558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10558_input:disabled {
  color:grayText;
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:357px;
  width:57px;
  height:24px;
}
#u10559_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10559_input:disabled {
  color:grayText;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:357px;
  width:57px;
  height:24px;
}
#u10560_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10560_input:disabled {
  color:grayText;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:357px;
  width:62px;
  height:24px;
}
#u10561_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10561_input:disabled {
  color:grayText;
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:308px;
  width:330px;
  height:24px;
}
#u10563_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10563_input:disabled {
  color:grayText;
}
#u10563_ann {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:304px;
  width:1px;
  height:1px;
}
#u10564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10564 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:357px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u10564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u10565 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:357px;
  width:329px;
  height:24px;
}
#u10565_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
