body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u11038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11040 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:193px;
  width:510px;
  height:307px;
}
#u11040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11041 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:260px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u11041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u11042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11042 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:308px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u11042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u11043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11043 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:430px;
  width:140px;
  height:30px;
}
#u11043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u11044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11044 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:430px;
  width:140px;
  height:30px;
}
#u11044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u11045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11045 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:208px;
  width:124px;
  height:22px;
  font-size:18px;
}
#u11045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u11046 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:264px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u11046_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11046_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11047 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:264px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u11047_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11047_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11049 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:308px;
  width:330px;
  height:24px;
}
#u11049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11049_input:disabled {
  color:grayText;
}
#u11049_ann {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:304px;
  width:1px;
  height:1px;
}
#u11050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11050 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:357px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u11050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u11051 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:357px;
  width:57px;
  height:24px;
}
#u11051_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11051_input:disabled {
  color:grayText;
}
#u11052 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:357px;
  width:57px;
  height:24px;
}
#u11052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11052_input:disabled {
  color:grayText;
}
#u11053 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:357px;
  width:57px;
  height:24px;
}
#u11053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11053_input:disabled {
  color:grayText;
}
#u11054 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:357px;
  width:57px;
  height:24px;
}
#u11054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11054_input:disabled {
  color:grayText;
}
#u11055 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:357px;
  width:62px;
  height:24px;
}
#u11055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11055_input:disabled {
  color:grayText;
}
#u11056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11057 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:308px;
  width:330px;
  height:24px;
}
#u11057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11057_input:disabled {
  color:grayText;
}
#u11057_ann {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:304px;
  width:1px;
  height:1px;
}
#u11058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11058 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:357px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u11058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u11059 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:357px;
  width:329px;
  height:24px;
}
#u11059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
