body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:80px;
  width:510px;
  height:690px;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:126px;
  width:75px;
  height:24px;
  font-size:16px;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:126px;
  width:330px;
  height:24px;
}
#u2481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:336px;
  width:330px;
  height:24px;
}
#u2482_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:496px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:536px;
  width:33px;
  height:24px;
  font-size:16px;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:536px;
  width:330px;
  height:24px;
}
#u2485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:576px;
  width:81px;
  height:24px;
  font-size:16px;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:376px;
  width:330px;
  height:24px;
}
#u2487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2487_input:disabled {
  color:grayText;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:166px;
  width:75px;
  height:24px;
  font-size:16px;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u2489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:248px;
  width:75px;
  height:24px;
  font-size:16px;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:292px;
  width:75px;
  height:24px;
  font-size:16px;
}
#u2490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u2491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:376px;
  width:33px;
  height:24px;
  font-size:16px;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:206px;
  width:330px;
  height:24px;
}
#u2493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:206px;
  width:71px;
  height:24px;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u2495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:206px;
  width:91px;
  height:24px;
  font-size:16px;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:416px;
  width:43px;
  height:24px;
  font-size:16px;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:336px;
  width:75px;
  height:24px;
  font-size:16px;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u2498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:456px;
  width:93px;
  height:24px;
  font-size:16px;
}
#u2498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:93px;
  white-space:nowrap;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:456px;
  width:330px;
  height:24px;
}
#u2499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:616px;
  width:97px;
  height:24px;
  font-size:16px;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u2501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:656px;
  width:65px;
  height:24px;
  font-size:16px;
}
#u2501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:416px;
  width:330px;
  height:24px;
}
#u2502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2502_input:disabled {
  color:grayText;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:166px;
  width:330px;
  height:24px;
}
#u2503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:496px;
  width:330px;
  height:24px;
}
#u2504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:576px;
  width:30px;
  height:24px;
  overflow:hidden;
}
#u2506_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2506_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  height:30px;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2506_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  height:30px;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:616px;
  width:30px;
  height:24px;
  overflow:hidden;
}
#u2510_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2510_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  height:30px;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2510_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  height:30px;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:656px;
  width:30px;
  height:24px;
  overflow:hidden;
}
#u2514_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2514_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  height:30px;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2514_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  height:30px;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:248px;
  width:330px;
  height:24px;
}
#u2518_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:248px;
  width:71px;
  height:24px;
}
#u2519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:292px;
  width:330px;
  height:24px;
}
#u2520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:710px;
  width:140px;
  height:30px;
}
#u2521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:710px;
  width:140px;
  height:30px;
}
#u2522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:90px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u2523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
